* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 280px;
    padding: 15px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.navbar {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefdfc;
    padding: 10px;
    border-bottom: 1px solid rgb(233, 230, 230);
}

.nav-heading {
    font-size: 0.8rem;
    color: #DE483A;
}

.nav-links ul li {
    display: inline-block;
    margin-right: 2px;
}

.nav-links ul li a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #DE483A;
}

.nav-links ul li a:hover {
    opacity: 0.7;
}

.navbar .greetUser h4 {
    color: #DE483A;
    text-decoration: underline;
}

.navbar .greetUser h4:hover {
    cursor: pointer;
}

.navbar .greetUser .logout {
    display: none;
    background-color: rgb(235, 229, 229);
    padding: 5px;
}

.navbar .greetUser .logout a {
    text-decoration: none;
    color: #DE483A;
}

.signup-btn {
    font-family: inherit;
    border: none;
    font-size: 0.8rem;
    background-color: #DE483A;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.signup-btn:hover {
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h3 {
    color: #DE483A;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 25%;
}

.header p {
    text-align: center;
    color: #302020;
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin: 20px 15px;
}

.get-started {
    font-family: inherit;
    border: none;
    border-radius: 25px;
    padding: 15px;
    margin-top: 10px;
    background-color: #DE483A;
    color: white;
}

.get-started:hover {
    cursor: pointer;
    opacity: 0.7;
}

form {
    width: 250px;
    height: 500px;
    margin: 5% auto;
    padding: 15px;
}

form h2 {
    color: #DE483A;
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

input[type="submit"] {
    width: 50%;
    margin: 30px 25%;
    padding: 10px;
    font-family: inherit;
    font-size: 1rem;
    background-color: #DE483A;
    color: white;
    border: none;
    border-radius: 20px;
}

input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.7;
}

.login-form p {
    font-size: 1rem;
}

.login-form p a {
    color: #DE483A;
}

.input-task {
    height: 80px;
}

#inp-tsk {
    width: 75%;
    margin-right: 10px;
    margin-left: 0;
}

#add-task {
    width: 15%;
    padding: 5px;
    margin: 0;
}

.items-form {
    height: 200px;
    overflow: scroll;
    margin-bottom: 0;
}

.items-form h3 {
    margin-bottom: 10px;
}

.items-form input[type="checkbox"] {
    margin-right: 2px;
    accent-color: #DE483A;
}

.items-form label {
    font-size: 0.9rem;
}

#delete-task {
    width: 50%;
    position: absolute;
    top: 60%;
    left: 0;
    padding: 10px;
    font-family: inherit;
    font-size: 0.7rem;
    background-color: #DE483A;
    color: white;
    border: none;
    border-radius: 20px;
}

@media (min-width:360px) {
    .container {
        width: 100%;
    }

    .nav-heading {
        font-size: 1.2rem;
    }

    .nav-links ul li a {
        font-size: 1rem;
    }

    .header h3 {
        font-size: 2rem;
    }

    .header p {
        font-size: 1.2rem;
    }

    form {
        width: 340px;
    }

    form h2 {
        font-size: 2rem;
    }

    label {
        font-size: 1.2rem;
    }

    input[type="submit"] {
        font-size: 1.2rem;
    }

    #inp-tsk {
        width: 80%;
        margin-top: 20px;
    }

    .items-form {
        height: 400px;
    }

    .items-form label {
        font-size: 1rem;
    }

    #delete-task {
        width: 50%;
        top: 80%;
        font-size: 0.9rem;
    }
}

@media (min-width:768px) {
    .container {
        width: 100%;
    }

    .nav-heading {
        font-size: 2rem;
        margin-left: 10px;
    }

    .nav-links ul li a,
    .signup-btn {
        font-size: 1.1rem;
        margin-right: 10px;
    }

    .header h3 {
        font-size: 4rem;
    }

    .header p {
        font-size: 2rem;
    }

    .get-started {
        padding: 25px;
        font-size: 1.5rem;
    }

    form {
        width: 740px;
    }

    form h2 {
        font-size: 3rem;
    }

    label {
        font-size: 1.8rem;
    }

    input[type="submit"] {
        font-size: 1.8rem;
    }

    #inp-tsk {
        width: 85%;
        margin-top: 20px;
    }

    #add-task {
        width: 10%;
    }

    .items-form {
        height: 400px;
    }

    .items-form h3 {
        font-size: 1.5rem;
    }

    .items-form label {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
    }

    .navbar {
        height: 80px;
    }

    .nav-heading {
        font-size: 1.5rem;
        margin-left: 30px;
    }

    .nav-links ul li a,
    .signup-btn {
        font-size: 1.1rem;
        margin-right: 30px;
    }

    .header h3 {
        font-size: 4rem;
        margin-top: 10%;
    }

    form {
        width: 800px;
    }

    form h2 {
        font-size: 2rem;
    }

    label {
        font-size: 1.2rem;
    }

    input[type="submit"] {
        font-size: 1.2rem;
    }

    #inp-tsk {
        width: 80%;
        margin-top: 20px;
    }

    #add-task {
        width: 10%;
    }

    .items-form {
        height: 400px;
    }

    .items-form h3 {
        font-size: 1.5rem;
    }

    .items-form label {
        font-size: 1.2rem;
    }

    #delete-task {
        width: 30%;
        top: 90%;
        left: 10%;
        font-size: 1rem;
    }
}